page-ponente-detalle {
    
    .centrado{
        margin:10px auto;
        display:block;
        }

    h1, h2, h3, h4, h5, h6, a ,p {
        color: rgb(255, 255, 255);
      }   

    ion-list.card {
        box-shadow: none;
        background: rgba(0, 0, 0, 0.527);
        border-radius: 5px;
      }

      .item {
        margin-bottom: 10px;
          background: rgba(255, 255, 255, 0.26);
        border: medium none;
      }
  
}
