page-agenda-detalle {
  
      .color{
          color: rgb(255, 1, 1)
    }

    .centrado{
        margin:10px auto;
        display:block;
        } 
        a, p, h1,
        ion-card-header.card-header {
          color: rgb(255, 255, 255)!important;
        }
    ion-list.card {
        box-shadow: none;
        background: rgb(255, 255, 255);
        border-radius: 5px;
      }
      
      .list > .item-block:first-child {
        border: medium none;
      }
      
      
      .item {
        margin-bottom: 10px;
        color: rgb(255, 255, 255);
        background: rgba(228, 101, 17, 0.829);
        border: medium none;
      }
      
        .text-input, {
          color: rgb(255, 255, 255);
        }
      
      .bottom {
        position: absolute;
        bottom: 0;
      }

}
