page-evento-detalle {
  
  .centrado{
    margin:10px auto;
    display:block;
    }

h1, h2, h3, h4, h5, h6,a ,p {
    color: rgb(255, 255, 255);
  }   

ion-list.card {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.322);
    border-radius: 5px;
  }
  
ion-card.card {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.212);
    border-radius: 5px;
  }
  
  .list > .item-block:first-child {
    border: medium none;
  }
  
  .item {
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.432);
    border: medium none;
  }
  
    .text-input, {
      color: rgb(255, 255, 255);
    }
  
  .bottom {
    position: absolute;
    bottom: 0;
  }

}
