// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.letras{
  text-align: center;
  font-family: sans-serif;
  font-size: 200%;
  font-weight: bolder;
}


.bg{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/ftp-imagenes.appspot.com/o/Caballo%20de%20Paso.png?alt=media&token=f83baa50-760d-441e-bb6b-54082b22f8ab');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

    
.slide-title {
  margin-top: 2.8rem;
  text-align: center;
  
}
.slide-image {
  align-content: center;
  max-height: 50%;
  max-width: 100%;
  margin: 18px 0;
  padding: 0 10px;
}

.b {
  font-weight: 500;
}


.texto{
  text-align: justify;
  padding: 0 10px;
}
.ponente{
padding: 0 10px;
align-content: center; 
}

.bar{
    background: #55acee;
  }

//----------------------
ion-card.card {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

ion-list.card {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

a, p, h1,
ion-card-header.card-header {
  color: #fff!important;
}

.list > .item-block:first-child {
  border: medium none;
}

.item {
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: medium none;

  .text-input, {
    color: #fff;
  }

  input::-moz-placeholder  {
    color: #fff!important;
  }

  input:-moz-placeholder {
    color: #fff!important;
  }

  *::-webkit-input-placeholder  {
    color: #fff!important;
  }

  *:-ms-input-placeholder  {
    color: #fff!important;
  }

  *:-moz-placeholder  {
    color: #fff!important;
  }
}

.icon {
  padding-right: 10px;
}

.bottom {
  position: absolute;
  bottom: 0;
}