// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.bgcolor{
  color: #1a68f0;
}

.menucolor{
  background-color: darkcyan
}

.menu{
  background-color: transparent;
  }

.letras{
  text-align: center;
  font-family: sans-serif;
  font-size: 200%;
  font-weight: bolder;
}


.bg{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/proyecto-sedipro.appspot.com/o/etc%2Fbackgound1.jpg?alt=media&token=f97547b8-9d91-4d4d-be61-a7dccc9a947f');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

    
.slide-title {
  margin-top: 2.8rem;
  text-align: center;
  
}
.slide-image {
  align-content: center;
  max-height: 50%;
  max-width: 100%;
  margin: 18px 0;
  padding: 0 10px;
}

.b {
  font-weight: 500;
}

.texto{
  text-align: justify;
  padding: 0 10px;
}
.ponente{
padding: 0 10px;
align-content: center; 
}
